<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>second-drive-utility.plist</string>
	<key>ProgramArguments</key>
	<array>
		<string>diskutil</string>
		<string>eject</string>
		<string>[UUID]</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/second-drive-utility.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/second-drive-utility.out</string>
</dict>
</plist>
